body {
    background-color: #dfdbd7;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.buttons {

padding-top: 6em;
}

#time {}

#result {}


#welcome {
    padding-top: 4em;
}

#preferences{
  margin-top: 1em;
}


.card-panel {
    font-size: 2em;
    text-align: center;
    background-color: #dd6f00;
}

#profile {
    max-width: 150px;
    max-height: 150px;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
}

nav {
    background-color: #00569b;
}

h5 {
    text-align: center;
}
